In [1]:
import pandas as pd

In [30]:
# read the raitings.csv file and show the first 5 rows 
df_ratings = pd.read_csv('../ml-latest-small/ratings.csv')
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [31]:
#df_ratings.sort_values(by=['movieId'])

In [68]:
# Find the average rating of movies and the average rating of movies should be sorted by descending order
df_avg = df_ratings.groupby('movieId', as_index=False)['rating'].mean().sort_values(by=['rating'], ascending=False)
#renaming the rating column to acg_rating 
df_avg.rename(columns = {'rating':'avg_rating'},inplace = True)
df_avg.head()

      movieId  avg_rating
7638    88448         5.0
8089   100556         5.0
9065   143031         5.0
9076   143511         5.0
9078   143559         5.0

In [70]:
# save the outcome into csv file 
df_avg.to_csv('rating_avg.csv', index=False)